.imager-container {
    & > .viewer {
        position: relative;
        width: 100%;
        height: 575px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 15px;

        & > .img-plus {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            outline: none !important;
            border: none !important;
            color: #7fad39;
            background-color: transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.4s ease;
        }

        &:hover {
            & > .img-plus {
                opacity: 1;
            }
        }

        &.no-show {
            & > .img-plus {
                opacity: 1;
            }
        }
    }
    & > .viewer-thumbs {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
        
        .img-thumb {
            cursor: pointer;
            background-size: cover;
            background-position: center;
            position: relative;
            z-index: 0;
        }

        & > .img-thumb {

            & input[type="file"] {
                display: none;
            }
        }

        .imager-rio {
            display: none;

            &:checked + label {
                &.img-thumb {
                    border:1px solid #7fad39;
                    border-radius: 5px;

                    &::after {
                        font-family: "Font Awesome 5 Free";
                        content: "\f02e";
                        display: inline;
                        position: absolute;
                        z-index: 2;
                        color: #7fad39;
                        font-size: 30px;
                        top: -12px;
                        right: 3px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
